body {
    margin: 0px;
    padding: 0px;
    height: 850%;
    background-color: #170D2F;
    cursor: url(pen-cursor.png), auto;
    display: flex;
    overflow-x: hidden
}

.main {
    position: absolute;
    width: 100%;
    height: 800px;
    cursor: auto;
    background: url(homebackground8.png);
    background-position: center;
    top: 0;
    overflow: hidden;
}

/* --------------------------------------------------------------------------- */

/* loading page */
.loader-wrapper {
  width: 100%;
  height: 910%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #170D2F;
  display: flex;
  justify-content: center;
}

.loader {
  position: absolute;
  top: 6%;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* --------------------------------------------------------------------------- */

/* pen tool custom cursor */
.hover {
  max-width: cover;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hover:hover {
   cursor: url(pen-cursor.png), auto;
}

/* --------------------------------------------------------------------------- */

/* introductory text */
#logo {
    height: 100px;
    width: 100%;
    cursor: auto;
    position: absolute;
    top: 29%;
    margin-top: -50px;
    text-align: center;
    cursor: url(pen-cursor.png), auto;
    opacity: 0.9;
}

.logo {
    width: 43px;
    height: 44px;
}

.name {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: white;
  letter-spacing: 4px;
}

h2 {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}


.labels {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: white;
  letter-spacing: 3px;
}

.greeting {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-47%, -50%);
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  letter-spacing: 20px;
  cursor: url(pen-cursor.png), auto;
}

/* --------------------------------------------------------------------------- */

/* progress bar */
.head {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #221F20;
}

.progress-bar {
  height: 8px;
  background: #75133A;
  width: 0%;
}

/* --------------------------------------------------------------------------- */

/* switch button between home backgrounds */

/* The switch - the box around the slider */
.switch {
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  top: 4.5%;
  left: 3%;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #F8D759, #EE5E4F);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-image: linear-gradient(to right, #219393, #F8D759);
}

input:focus + .slider {
  box-shadow: 0 0 1px linear-gradient(to right, #219393, #F8D759);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* --------------------------------------------------------------------------- */

/* nav bar */
nav ul {
  list-style: none;
  position: absolute;
  top: 1%;
  right: 2%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  margin: 0 10px;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  opacity: .5;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav.stroke ul li a:hover:after {
  width: 100%;
}

/* --------------------------------------------------------------------------- */


/* explore button on home screen */
.button {
  position: absolute;
  top: 51%;
  left: 50%;
  background-image: linear-gradient(to right, #F8D759, #EE5E4F);
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 17px;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: #333;
  letter-spacing: 2px;
  line-height: 1.0;
  transform: translateX(-50%);
}

.button:hover {
  background-image: linear-gradient(to right, #EE5E4F, #F8D759);
}

/* bouncing arrow on home screen */
.bounce {
  position: absolute;
  top: 59%;
  left: 47.5%;
  width: 70px;
  height: 75px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: sdb05 1.75s infinite;
  animation: sdb05 1.75s infinite;
  }

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 20px);
    opacity: 0;
  }
}

@keyframes sdb05 {
  0% {
    transform: rotate(0deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) translate(0, 20px);
    opacity: 0;
  }
}

/* --------------------------------------------------------------------------- */

/* icon bar */
#linkedin {
    position: absolute;
    bottom: 38%;
    left: 24px;
    height: 32px;
    width: 34px;
    position: fixed;
}


#gmail {
    position: absolute;
    bottom: 31%;
    left: 24px;
    height: 30px;
    width: 34px;
    position: fixed;
}

#pinterest {
    position: absolute;
    bottom: 24%;
    left: 24px;
    height: 30px;
    width: 34px;
    position: fixed;
}

#behance {
    position: absolute;
    bottom: 17%;
    left: 24px;
    height: 32px;
    width: 33px;
    position: fixed;
}

.line {
     position: absolute; 
     width: 1px; 
     height: 100px; 
     background: white; 
     opacity: 0.3; 
     border: none; 
     bottom: 0; 
     left: 40px; 
     position: fixed;" 
}

#linkedin:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateY(-4px);
}

#gmail:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateY(-4px);
}

#pinterest:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateY(-4px);
}

#behance:hover {
    opacity: 0.5;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: translateY(-4px);
}

/* --------------------------------------------------------------------------- */

/* title design for each subpage */
.header {
  position: absolute;
  top: 10%;
  left: 10%;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}

/* --------------------------------------------------------------------------- */

#page1 {
    position: absolute;
    top: 110%;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);;
}

#squiggle {
  position: absolute;
  top: 0.7%;
  left: 6.4%;
  width: 208px;
  height: 90px;
}

#photo {
  position: absolute;
  top: 22.2%;
  left: 18.1%;
  width: 328px;
  height: 280px;
}

#photo:hover {
  content: url(profile.png);
  -moz-box-shadow: 0 0 8px #07002A;
  -webkit-box-shadow: 0 0 8px #07002A;
  box-shadow: 0 0 8px #07002A;
}

#about-header {
  position: absolute;
  top: 12%;
  left: 9.5%;
  width: 405px;
  height: 220px;
  transform: translate(0,0);
}

#tldr {
  position: absolute;
  top: 60%;
  left: 8.4%;
  width: 500px;
  height: 110px;
}

#about-body {
  position: absolute;
  top: 72%;
  left: 8.2%;
  width: 525px;
  height: 390px;
  opacity: 0.5;
}

#boxx {
  position: absolute;
  top: 13%;
  left: 50%;
  width: 570px;
  height: 530px;
  transform: translate(0,0);
  opacity: 1;
}

/* --------------------------------------------------------------------------- */

#page2 {
    position: absolute;
    top: 250%;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);;
}

#page2 #port-head {
    position: absolute;
    top: 20%;
    left: 24.7%;
    width: 839px;
    height: 370px;
}

#page2 #port-box {
    position: absolute;
    top: 15%;
    left: 35.2%;
    width: 810px;
    height: 420px;
    opacity: 1;
}

/* --------------------------------------------------------------------------- */

#page2 #ants {
    position: absolute;
    top: 90%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: pointer;
}

#ants:hover {
  transform: scale(1.05)
}

#page2 #maps {
    position: absolute;
    top: 90%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: pointer;
}

#maps:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #hog {
    position: absolute;
    top: 155%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: pointer;
}

#hog:hover {
  transform: scale(1.05)
}

#page2 #scheme {
    position: absolute;
    top: 155%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: pointer;

}

#scheme:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #data {
    position: absolute;
    top: 220%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: auto;
}

#data:hover {
  transform: scale(1.05)
}

#page2 #dss {
    position: absolute;
    top: 220%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: pointer;

}

#dss:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #bearmaps {
    position: absolute;
    top: 285%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: pointer;
}

#bearmaps:hover {
  transform: scale(1.05)
}

#page2 #game {
    position: absolute;
    top: 285%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: pointer;

}

#game:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #book {
    position: absolute;
    top: 350%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: pointer;
}

#book:hover {
  transform: scale(1.05)
}

#page2 #events {
    position: absolute;
    top: 350%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: pointer;

}

#events:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #cpu {
    position: absolute;
    top: 415%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: auto;
}

#cpu:hover {
  transform: scale(1.05)
}

#page2 #spam {
    position: absolute;
    top: 415%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: auto;
}

#spam:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page2 #covid {
    position: absolute;
    top: 480%;
    left: 15%;
    width: 420px;
    height: 460px;
    cursor: pointer;

}

#covid:hover {
  transform: scale(1.05)
}

#page2 #website {
    position: absolute;
    top: 480%;
    left: 55%;
    width: 420px;
    height: 460px;
    cursor: auto;
}

#website:hover {
  transform: scale(1.05)
}

/* --------------------------------------------------------------------------- */

#page3 {
    position: absolute;
    top: 830%;
    height: 75vh;
    width: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
}

#page3 #cont-head {
    position: absolute;
    top: 12%;
    left: 23.4%;
    width: 970px;
    height: 250px;
}

#page3 #cont-box {
    position: absolute;
    top: 3%;
    left: 35%;
    width: 800px;
    height: 420px;
    opacity: 1;
}

#page3 .mail-button {
    position: absolute;
    top: 50%;
    left: 54.8%;
    background-color: transparent;
    padding: 10px 23px;
    border: 2px solid #E6E7E8;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #E6E7E8;
    letter-spacing: 0.8px;
    line-height: 1.0;
    transform: translateX(-50%);
    opacity: 0.7;
    text-decoration: none;
}

/* --------------------------------------------------------------------------- */

/* copyright footer */
.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #12062C; 
  opacity: 0.6;
}

.copyright {
  position: absolute;
  top: 21px;
  left: 5.5%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #D1D3D4;
  letter-spacing: -0.3px;
}

.to-top {
  position: absolute;
  top: 20px;
  right: 6%;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #D1D3D4;
  letter-spacing: -0.3px;
  text-decoration: underline;
  cursor: pointer;
}

.to-top:hover {
  opacity: 0.5;
}

/* --------------------------------------------------------------------------- */

/* custom scroll bar */

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer; 
}

/* --------------------------------------------------------------------------- */

@media (max-width: 1439px and min-width: 1425px) {
    .bounce {
      left: 46.5%;
    }

    #page3 .mail-button {
       left: 52%;
    }
  }

@media (max-width: 1425px and min-width: 1395px) {
    .bounce {
      left: 44.5%;
    }
  }

@media (max-width: 1395px and min-width: 1375px) {
    .bounce {
      left: 43.5%;
    }
  }

@media (max-width: 1375px and min-width: 1355px) {
    .bounce {
      left: 42.5%;
    }
  }

@media (max-width: 1355px and min-width: 1300px) {
    .bounce {
      left: 41%;
    }
  }

@media (max-width: 1300px and min-width: 1260px) {
    .bounce {
      left: 40%;
    }
}

@media (max-width: 1260px and min-width: 1230px) {
    .bounce {
      left: 39%;
    }
}

@media (max-width: 1230px and min-width: 1200px) {
    .bounce {
      left: 38%;
    }
}

@media (max-width: 1200px and min-width: 1000px) {
    .bounce {
      left: 35%;
    }
}

@media (max-width: 876px) {
   .name {
      font-size: 40px;
      top: 30%;
   }

   .labels {
      font-size: 12px;
   }

   .greeting {
      font-size: 16px;
   }

   nav ul li a {
     padding: 10px;
     font-size: 13px;
   }

  .bounce {
    left: 45.2%;
  }

}

@media (max-width: 858px) {
   .name {
      font-size: 35px;
      top: 31%;
   }

   .labels {
      font-size: 10px;
      top: 40%;
   }

   .greeting {
      font-size: 15px;
      top: 45%;
   }

   .logo {
    width: 41px;
    height: 42px;
   }

  .bounce {
    left: 45.5%;
  }
}

@media (max-width: 700px) {
   .name {
      font-size: 31px;
      top: 31%;
   }

   .labels {
      font-size: 10px;
      top: 39%;
   }

   .greeting {
      font-size: 13px;
      top: 45%;
   }

   .logo {
    width: 41px;
    height: 42px;
   }

   nav ul li a {
     padding: 10px;
     font-size: 12px;
   }

   .email {
     opacity: 0;
   }

   .line2 {
     opacity: 0;
   }

  .bounce {
    left: 44.5%;
  }
}

@media (max-width: 640px) {
   .name {
      font-size: 22px;
      top: 31%;
      letter-spacing: 2px;
   }

   .labels {
      font-size: 7px;
      top: 37%;
      letter-spacing: 2px;
   }

   .greeting {
      font-size: 11px;
      top: 43%;
   }

   .logo {
    width: 38px;
    height: 39px;
   }

   nav ul li a {
     padding: 10px;
     font-size: 10px;
   }

  .button {
    top: 49%;
  }

  .bounce {
    top: 57%;
  }

  .bounce {
    left: 42.2%;
  }

}

@media (max-width: 620px) {
  .labels {
      font-size: 7px;
      letter-spacing: 1px;
  }
}

@media (max-width: 1185px) {
  #photo {
    left: 18.5%;
  }
}

@media (max-width: 1185px) {
  #photo {
    width: 290px;
    height: 241px;
    left: 20%;
  }

  #about-header {
    width: 385px;
    height: 200px;
  }

  #tldr {
    width: 425px;
    height: 92px;
  }

  #about-body {
    width: 475px;
    height: 315px;
  }

  #boxx {
    width: 505px;
    height: 430px;
  }
}

@media (max-width: 1047px) {
  #photo {
    width: 265px;
    height: 225px;
    left: 21%;
  }

  #about-header {
    width: 375px;
    height: 195px;
  }

  #tldr {
    width: 410px;
    height: 88px;
  }

  #about-body {
    width: 435px;
    height: 290px;
  }

  #boxx {
    width: 470px;
    height: 400px;
  }
}

@media (max-width: 944px) {
  #photo {
    width: 245px;
    height: 210px;
    left: 21%;
  }

  #about-header {
    width: 355px;
    height: 185px;
  }

  #tldr {
    width: 387px;
    height: 85px;
  }

  #about-body {
    width: 415px;
    height: 280px;
  }

  #boxx {
    width: 440px;
    height: 390px;
  }
}

@media (max-width: 875px) {
  #boxx {
    opacity: 0;  
  }

  #about-header {
    width: 325px;
    height: 175px;
    left: 10.3%;
  }
}

@media (max-width: 1300px) {
  #page2 #port-head {
    left: 21%;
  }

  #page2 #port-box {
    width: 700px;
    left: 33%;
  }

  #page3 #cont-head {
    top: 15%;
    left: 17%;
    width: 905px;
    height: 220px;
  }

  #page3 #cont-box {
      left: 30%;
      width: 700px;
  }
}

@media (max-width: 1100px) {
  #page2 #port-head {
    left: 16%;
    width: 820px;
    height: 351px;
  }

  #page2 #port-box {
    width: 620px;
    left: 31%;
  }
}

@media (max-width: 910px) {
  #page2 #port-head {
    left: 11%;
    width: 810px;
    height: 341px;
  }

  #page2 #port-box {
    width: 590px;
    left: 27%;
  }
}

@media (max-width: 1200px) {
  #page2 #ants {
      width: 390px;
      height: 430px;
  }

  #page2 #maps {
      width: 390px;
      height: 430px;
  }

  #page2 #hog {
      width: 390px;
      height: 430px;
  }

  #page2 #scheme {
      width: 390px;
      height: 430px;
  }

  #page2 #data {
      width: 390px;
      height: 430px;
  }

  #page2 #dss {
      width: 390px;
      height: 430px;
  }

  #page2 #bearmaps {
      width: 390px;
      height: 430px;
  }

  #page2 #game {
      width: 390px;
      height: 430px;
  }

  #page2 #book {
      width: 390px;
      height: 430px;
  }

  #page2 #events {
      width: 390px;
      height: 430px;
  }

  #page2 #cpu {
      width: 390px;
      height: 430px;
  }

  #page2 #spam {
      width: 390px;
      height: 430px;
  }

    #page2 #covid {
      width: 390px;
      height: 430px;
  }

  #page2 #website {
      width: 390px;
      height: 430px;
  }
}

@media (max-width: 1100px) {
  #page2 #ants {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #maps {
      width: 350px;
      height: 390px;
  }

  #page2 #hog {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #scheme {
      width: 350px;
      height: 390px;
  }

  #page2 #data {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #dss {
      width: 350px;
      height: 390px;
  }

  #page2 #bearmaps {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #game {
      width: 350px;
      height: 390px;
  }

  #page2 #book {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #events {
      width: 350px;
      height: 390px;
  }

  #page2 #cpu {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #spam {
      width: 350px;
      height: 390px;
  }

  #page2 #covid {
      width: 350px;
      height: 390px;
      left: 13%;
  }

  #page2 #website {
      width: 350px;
      height: 390px;
  }
}

@media (max-width: 850px) {
  #page2 #ants {
      width: 290px;
      height: 330px;
      left: 12%;
  }

  #page2 #maps {
      width: 290px;
      height: 330px;
  }

  #page2 #hog {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 140%;
  }

  #page2 #scheme {
      width: 290px;
      height: 330px;
      top: 140%;
  }

  #page2 #data {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 190%;
  }

  #page2 #dss {
      width: 290px;
      height: 330px;
      top: 190%;
  }

  #page2 #bearmaps {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 240%;
  }

  #page2 #game {
      width: 290px;
      height: 330px;
      top: 240%;
  }

  #page2 #book {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 290%;
  }

  #page2 #events {
      width: 290px;
      height: 330px;
      top: 290%;
  }

  #page2 #cpu {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 340%;
  }

  #page2 #spam {
      width: 290px;
      height: 330px;
      top: 340%;
  }

  #page2 #covid {
      width: 290px;
      height: 330px;
      left: 12%;
      top: 390%;
  }

  #page2 #website {
      width: 290px;
      height: 330px;
      top: 390%;
  }
}

@media (max-width: 700px) {
  body {
      height: 1200%;
  }

  .loader-wrapper {
      height: 1300%;
  }

  #page3 {
    top: 1200%;
  }

  #page2 #ants {
      width: 290px;
      height: 330px;
      left: 17%;
  }

  #page2 #maps {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 150%;
  }

  #page2 #hog {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 210%;
  }

  #page2 #scheme {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 270%;
  }

  #page2 #data {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 330%;
  }

  #page2 #dss {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 390%;
  }

  #page2 #bearmaps {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 450%;
  }

  #page2 #game {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 510%;
  }

  #page2 #book {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 570%;
  }

  #page2 #events {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 630%;
  }

  #page2 #cpu {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 690%;
  }

  #page2 #spam {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 750%;
  }

  #page2 #covid {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 810%;
  }

  #page2 #website {
      width: 290px;
      height: 330px;
      left: 17%;
      top: 870%;
  }
}

@media (max-width: 1020px) {
  #page3 #cont-head {
    top: 16%;
    left: 13%;
    width: 855px;
    height: 205px;
  }

  #page3 #cont-box {
      left: 28%;
      width: 650px;
      height: 410px;
  }
}

@media (max-width: 915px) {
  #page3 #cont-head {
    top: 17%;
    left: 11%;
    width: 770px;
    height: 185px;
  }

  #page3 #cont-box {
      left: 26%;
      width: 600px;
      height: 370px;
  }
}


@media (max-width: 600px) {
  #about-header {
    width: 255px;
    height: 135px;
    left: 10.5%;
  }

  .contact {
    opacity: 0;
  }

  #page2 #port-box {
      opacity: 0;
    }

    #page3 #cont-box {
      opacity: 0;
    }

    #page3 #cont-head {
      left: 12%;
      width: 955px;
      height: 240px;
    }

    #page3 .mail-button {
      top: 60%;
      left: 36%;
    }
  }

  @media (max-height: 690px) {
    #logo {
      top: 27%;
    }

    .name {
      top: 26.5%;
    }

    #tldr {
      top: 66%;
    }

    #about-body {
      top: 78%;
    }

    #page2 {
      top: 300%;
    }

    #page2 #ants {
      top: 170%;
    }

  #page2 #maps {
      top: 170%;
  }

  #page2 #hog {
      top: 280%;
  }

  #page2 #scheme {
      top: 280%;
  }

  #page2 #data {
      top: 390%;
  }

  #page2 #dss {
      top: 390%;
  }

  #page2 #bearmaps {
      top: 500%;
  }

  #page2 #game {
      top: 500%;
  }

  #page2 #book {
      top: 610%;
  }

  #page2 #events {
      top: 610%;
  }

  #page2 #cpu {
      top: 720%;
  }

  #page2 #spam {
      top: 720%;
  }

  #page2 #covid {
      top: 830%;
  }

  #page2 #website {
      top: 830%;
  }

  body {
      height: 1400%;
  }

  .loader-wrapper {
    height: 1400%;
  }

  #page3 {
    top: 1310%;
  }

  #page3 .mail-button {
    position: absolute;
    top: 65%;
}

  @media (max-height: 610px) {
    #page1 {
      top: 140%;
    }

    #page2 {
      top: 350%;
    }

    #tldr {
      top: 78%;
    }

    #about-body {
      top: 95%;
    }
}

  @media (max-height: 400px) {
    #tldr {
      top: 83%;
    }

    #about-body {
      top: 101%;
    }

    #page2 {
      top: 400%;
    }
}


































